    /* EXERCISE 2:  
       Create a CSS class for the task list with a different background color
       Create a CSS class for the task list item with a border, a bold text and a bigger font size
       Style every button of the page to be bigger
    */

    /*body {
        background-color:rgba(1, 12, 13, 0.342);
    };*/

    .taskList {
        background: rgb(42, 91, 165);
        margin-block-start: 5em;
        margin-block-end: 5em;
        padding-block-start: 2em;
        padding-block-end: 2em;
        border: solid black;
        font-size: larger;
        font-weight: bold;
    };

    input[type = "button"] {
        cursor: pointer;
        border-radius: 50%;
        background-color: cornflowerblue;
        width: 150px !important;
        height: 100px !important;
    }